@media only screen and (max-width: 500px) {
  table tbody tr {
    margin: 0 0 1em 0;
  }

  table thead th {
    padding: .4em 1em .4em 0;
    display: block;
    width: calc(100% - 1em) !important;
  }

  table,
  table thead,
  table tbody, 
  table tr { 
		display: block; 
	}

  table tbody td {
    border: none;
    display: block;
    width: calc(100% - 1em) !important;
  }

  table tbody td:first-child {
    width: 100px !important;
  }
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}